body {
	background-color:#0d1a26;
	color:white;
	font: 20px normal;
	font-family: 'Roboto', sans-serif;
	line-height:1em;
    margin-top:30px;
	text-align:center;
}

.container {
	width:60%;
	margin-left:20%;
}

.container h1 {
	text-align: center;
	font: 50px bolder;
	font-family: 'Roboto', sans-serif;
}

.container p {
	text-align: left;
}

.currentQuestion {
	width: 35%;
	margin-left:32.5%;
}

.answerContainer {
	display:flex;
	flex-direction: row;
}

.radioButtonsContainer {
	width:5%;
	margin-left:30%;
}

.answerLabelContainer {
	width: 30%;
}

label{
	height: 50px;
}

input[type='radio']:checked:after {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: -3px;
	left: -2px;
	position: relative;
	background-color: #0d1a26;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 4px solid white;
}

button {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #003366;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.controlButtonsContainer  {
	width:40%;
	margin-left: 47.5%;
	display:flex;
	justify-content: space-between;
}

.submitButton {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #206020;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.resultAnswerContainer {
	width: 40%;
	margin-left:30%;
}

.redResult {
 color: #862d2d;
}

.greenResult {
	color: #206020;
}

.hide {
    display: none;
}

.hide2 {
	opacity: 0;
}
