body {
	background-color:#0d1a26;
	color:white;
	font: 20px normal;
	font-family: 'Roboto', sans-serif;
	line-height:1em;
    margin-top:30px;
	text-align:center;
}

h1 {
	text-align: center;
	font: 50px bolder;
	font-family: 'Roboto', sans-serif;
}

a {
	text-align: center;
	color: white;
	font: 30px bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

button {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #003366;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}