body {
	background-color:#0d1a26;
	color:white;
	font: 20px normal;
	font-family: 'Roboto', sans-serif;
	line-height:1em;
    margin-top:30px;
	text-align:center;
}

.container {
	width:60%;
	margin-left:20%;
}

.container h1 {
	text-align: center;
	font: 50px bolder;
	font-family: 'Roboto', sans-serif;
}

.container h2 {
	text-align: center;
	font-size:40px;
	line-height:1.5em;
}

.answerContainer {
	display:flex;
	flex-direction: row;
}

.radioButtonsContainer {
	width:5%;
	margin-left:30%;
}

.radioButtonsContainer input {
	margin-top: 50%;
	margin-bottom: 50%;
}

.answerBoxContainer {
	width: 30%;
}

.questionText textarea {
	width: 40%;
	height: 5em;
	border-radius: 3px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.answerBoxContainer textarea {
	width: 100%;
	height: 3em;
	border-radius: 3px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.controlButtonsContainer  {
	width:30%;
	margin-left: 35%;
	display:flex;
	justify-content: space-between;
}

.naviButtonsContainer {
	width:30%;
	margin-left: 35%;
	display:flex;
	justify-content: space-between;
}

input[type='radio']:checked:after {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: -3px;
	left: -2px;
	position: relative;
	background-color: #0d1a26;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 4px solid white;
}

.hide {
    display: none;
}

.normalButton {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #003366;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.deleteButton {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #862d2d;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

.addButton {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #206020;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}