# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/joshedge/public_html/COMP351/projects/1/dbinterface"
PassengerBaseURI "/COMP351/projects/1/dbinterface"
PassengerNodejs "/home/joshedge/nodevenv/public_html/COMP351/projects/1/dbinterface/10/bin/node"
PassengerAppType node
PassengerStartupFile app.js
PassengerAppLogFile "/home/joshedge/logs/dbinterface.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END